# EditorConfig for ONT Ecosystem
# https://editorconfig.org

root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Python files
[*.py]
indent_size = 4
max_line_length = 100

# YAML files
[*.{yaml,yml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# Shell scripts
[*.{sh,bash}]
indent_size = 4

# Makefile (requires tabs)
[Makefile]
indent_style = tab

# LaTeX files
[*.{tex,sty,cls}]
indent_size = 2

# JavaScript/JSX
[*.{js,jsx}]
indent_size = 2

# Configuration files
[.{gitignore,gitattributes,editorconfig}]
indent_size = 4

# GitHub Actions
[.github/**/*.yml]
indent_size = 2
